
.muj-box {
    -fx-background-color: rgba(254,254,254,0.8);
    -fx-alignment: top-center;
    -fx-font-weight: bold;
    -fx-spacing: 10;
    -fx-padding: 7;
    -fx-border-width: 3;
    -fx-border-color: black;

}
.pravy-box {
    -fx-spacing: 7;
}
.horni-cast {
    -fx-alignment: center;
    -fx-background-color: rgba(254,254,254,0.8);
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-padding: 7;
    -fx-max-height: 50;
    -fx-max-width: 800;
}

#locationName{
    -fx-font-size: 30;
    -fx-font-weight: bold;



}

#locationDescription{
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-font-style: oblique;
}
#trezors {
 -fx-spacing: 10;
}
#hrobs {
    -fx-spacing: 10;
}
#bojuj {
    -fx-spacing: 10;
}
#exits {
    -fx-font-size: 13;
    -fx-spacing: 10;
}

#items {
    -fx-font-size: 13;
    -fx-spacing: 10;


}

#persons {
    -fx-font-size: 13;
    -fx-spacing: 10;
}

#backpack {
    -fx-font-size: 13;
    -fx-spacing: 10;
}

.spodek {
    -fx-opacity: 0.8;
    -fx-spacing: 7;
    -fx-max-width: 800;
    -fx-max-height: 200;



}
.nadpisky{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-underline: true;


}
#textOutput{
    -fx-border-color: black;
    -fx-border-width: 3;
}
#textInput{
    -fx-border-width: 3;
    -fx-border-color: black;
}